


<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Apni Kapaas</title>
    <style type="text/css">
        html {
            -webkit-text-size-adjust: none;
            -ms-text-size-adjust: none;
        }

        @media only screen and (max-device-width: 680px), only screen and (max-width: 680px) {
            *[class="table_width_100"] {
                width: 96% !important;
            }

            *[class="border-right_mob"] {
                border-right: 1px solid #dddddd;
            }

            *[class="mob_100"] {
                width: 100% !important;
            }

            *[class="mob_center"] {
                text-align: center !important;
            }

            *[class="mob_center_bl"] {
                float: none !important;
                display: block !important;
                margin: 0px auto;
            }

            .iage_footer a {
                text-decoration: none;
                color: #929ca8;
            }

            img.mob_display_none {
                width: 0px !important;
                height: 0px !important;
                display: none !important;
            }

            img.mob_width_50 {
                width: 40% !important;
                height: auto !important;
            }
        }

        .table_width_100 {
            width: 680px;
        }
    </style>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
</head>
<body style="padding: 0px; margin: 0px;">
    <div id="mailsub" class="notification" align="center">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width: 320px;">
            <tr>
                <td align="center" bgcolor="#eff3f8">

                    <!--[if gte mso 10]>
                    <table width="680" border="0" cellspacing="0" cellpadding="0">
                    <tr><td>
                    <![endif]-->
                    <table border="0" cellspacing="0" cellpadding="0" class="table_width_100" width="100%" style="max-width: 680px; min-width: 300px;">
                        <!--header -->
                        <tr>
                            <td align="center" bgcolor="#eff3f8">
                                <!-- padding --><div style="height: 20px; line-height: 20px; font-size: 10px;">&nbsp;</div>
                                <table width="96%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td align="left">
                                            <!--

                                            Item -->
                                            <div class="mob_center_bl" style="display: inline-block; width: 115px;">
                                                <table class="mob_center" width="115" border="0" cellspacing="0" cellpadding="0" align="left" style="border-collapse: collapse;">
                                                    <tr>
                                                        <td align="left" valign="middle">
                                                            <!-- padding --><div style="height: 20px; line-height: 20px; font-size: 10px;">&nbsp;</div>
                                                            <table width="115" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td align="left" valign="top" class="mob_center">
                                                                        <a href="#" target="_blank" style="color: #596167; font-family: Trebuchet MS; font-size: 13px;">
                                                                            <font face="Arial, Helvetica, sans-seri; font-size: 13px;" size="3" color="#596167">
                                                                                <img src="http://sandbox.aimviz.com:6888/Templates/Logo.png" width="155" alt="Apni Kapaas" border="0" style="display: block;" />
                                                                            </font>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div><!-- Item END-->
                                            <!--[if gte mso 10]>
                                                </td>
                                                <td align="right">
                                            <![endif]-->
                                            <!--

                                            Item -->
                                            <div class="mob_center_bl" style="float: right; display: inline-block; width: 88px;">
                                                <table width="88" border="0" cellspacing="0" cellpadding="0" align="right" style="border-collapse: collapse;">
                                                    <tr>
                                                        <td align="right" valign="middle">
                                                            <!-- padding --><div style="height: 20px; line-height: 20px; font-size: 10px;">&nbsp;</div>
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td align="right">
                                                                        <!--social -->
                                                                        <!--<div class="mob_center_bl" style="width: 88px;">
                                                                            <table border="0" cellspacing="0" cellpadding="0">
                                                                                <tr>
                                                                                    <td width="30" align="center" style="line-height: 19px;">
                                                                                        <a href="#" target="_blank" style="color: #596167; font-family: Trebuchet MS; font-size: 12px;">
                                                                                            <font face="Trebuchet MS" size="2" color="#596167">
                                                                                                <img src="http://artloglab.com/metromail2/images/facebook.gif" width="10" height="19" alt="Facebook" border="0" style="display: block;" />
                                                                                            </font>
                                                                                        </a>
                                                                                    </td>
                                                                                    <td width="39" align="center" style="line-height: 19px;">
                                                                                        <a href="#" target="_blank" style="color: #596167; font-family: Trebuchet MS; font-size: 12px;">
                                                                                            <font face="Trebuchet MS" size="2" color="#596167">
                                                                                                <img src="http://artloglab.com/metromail2/images/twitter.gif" width="19" height="16" alt="Twitter" border="0" style="display: block;" />
                                                                                            </font>
                                                                                        </a>
                                                                                    </td>
                                                                                    <td width="29" align="right" style="line-height: 19px;">
                                                                                        <a href="#" target="_blank" style="color: #596167; font-family: Trebuchet MS; font-size: 12px;">
                                                                                            <font face="Trebuchet MS" size="2" color="#596167">
                                                                                                <img src="http://artloglab.com/metromail2/images/dribbble.gif" width="19" height="19" alt="Dribbble" border="0" style="display: block;" />
                                                                                            </font>
                                                                                        </a>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </div>-->
                                                                        <!--social END-->
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div><!-- Item END-->
                                        </td>
                                    </tr>
                                </table>
                                <!-- padding --><div style="height: 30px; line-height: 30px; font-size: 10px;">&nbsp;</div>
                            </td>
                        </tr>
                        <!--header END-->
                        <!--content 1 -->
                        <tr>
                            <td bgcolor="#ffffff">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">



                                    <tr>
                                        <div style="text-align:center;">
                                            <h2 style="font-family: 'Montserrat', sans-serif; margin:0px; background-color:#20d994; color:white; padding:15px; font-weight:normal;">Hi <span style="color:#003f4f;">{User_Name}</span></h2>
                                        </div>
                                        <div style="padding:5%; color:black; font-family:'Montserrat' , sans-serif; font-size:10pt">
                                            <p style="text-align:justify;">

                                                This is your Apni Kapaas OTP verification code. Please note it will be valid for 15 minutes only.

                                                <br /><br />
                                                Verification Code: <b>{Verify_Key}</b><br />


                                            </p>
                                            <!--<p style="text-align:center;">
                                                <a href='{Verification_Link}' style="display: inline-block; font-family: Trebuchet MS; text-decoration: none; background-color:#20d994; text-transform: uppercase; font-size: 15px; padding: 14px 25px; color: #fff; font-weight: 600; margin-bottom: 5px;">Click Here</a>
                                            </p>-->




                                            Thank you!<br />
                                            <br />


                                            <span style="color:#20d994; font-weight:600;">Apni Kapaas Team</span> <br />
                                            <a style="text-decoration: none; color:black;" href="http://ApniKapaas.com/">www.ApniKapaas.com</a>

                                        </div>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <!--content 1 END-->
                        <!--links -->
                        <!--links -->
                        <tr>
                            <td align="center" bgcolor="#f9fafc">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td align="center">
                                            <!-- padding --><div style="height: 30px; line-height: 30px; font-size: 10px;">&nbsp;</div>
                                            <table width="100%" align="center" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td align="left" valign="middle" style="font-size: 12px; line-height:22px; padding: 0 15px;">
                                                        <span style="font-family: Trebuchet MS; font-size: 12px; color: #57697e;">
                                                            Our Customer Support team is ready to help. Please Email us: info@ApniKapaas.com
                                                            <br />
                                                            This email is system generated. Do not reply to this email.
                                                        </span>
                                                    </td>
                                                    <td align="left" valign="middle" style="font-size: 12px; line-height:22px; padding: 0 15px;">
                                                        <a href="#" target="_blank">
                                                            <img src="{Base_Url}/Content/Images/app_googleplay-button.png" width="100" alt="Apni Kapaas" border="0" style="display: block;margin-bottom: 10px;" />
                                                        </a>
                                                        <a href="#" target="_blank">
                                                            <img src="{Base_Url}/Content/Images/app_appstore-button.png" width="100" alt="Apni Kapaas" border="0" style="display: block;" />
                                                        </a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr><td><!-- padding --><div style="height: 30px; line-height: 30px; font-size: 10px;">&nbsp;</div></td></tr>
                                </table>
                            </td>
                        </tr>
                        <!--links END-->
                        <!--footer -->
                        <tr>
                            <td class="iage_footer" align="center" bgcolor="#eff3f8">
                                <!-- padding --><div style="height: 40px; line-height: 40px; font-size: 10px;">&nbsp;</div>

                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td align="center">
                                            <font face="Trebuchet MS" size="3" color="#96a5b5" style="font-size: 13px;">
                                                <span style="font-family: Trebuchet MS; font-size: 13px; color: #96a5b5;">
                                                    2019 &copy; Apni Kapaas. ALL Rights Reserved.
                                                </span>
                                            </font>
                                        </td>
                                    </tr>
                                </table>

                                <!-- padding --><div style="height: 50px; line-height: 50px; font-size: 10px;">&nbsp;</div>
                            </td>
                        </tr>
                        <!--footer END-->
                    </table>
                    <!--[if gte mso 10]>
                    </td></tr>
                    </table>
                    <![endif]-->

                </td>
            </tr>
        </table>

    </div>
</body>
</html>
